@use "../abstracts/variables";

.banner {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 50px;
    width: variables.$width-banner;
    background-color: #2196f3;
    border: variables.$border-banner solid #000;
    align-items: flex-start;
    position: relative;
    left: 200px;
}