@use "../abstracts/variables";
@use "../themes/main";

.banner {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: variables.$height-banner;
    width: variables.$width-banner;
    background-color: main.$secondary-color;
    border: variables.$border-banner solid main.$tertiary-color;
    align-items: flex-start;
    position: relative;
    border-radius: variables.$border-radius;
}