@use "../abstracts/mixins";
@use "../abstracts/variables";

.tile {
    display: inline-block;
    white-space: nowrap;
    border: 1px solid #ff0000;
    @include mixins.animation-slide(variables.$width-banner, calc(-100% - var(--gap, 0px)));
    animation: {
        duration: 5s;
        timing-function: linear;
        iteration-count: infinite;
        name: slide;
    }
    p {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}