@use "../abstracts/mixins";
@use "../abstracts/variables";

.tile {
    display: inline-block;
    border: 1px solid #ff0000;
    @include mixins.animation-slide(0, variables.$width-banner);
    animation: {
        duration: 5s;
        timing-function: linear;
        iteration-count: infinite;
        name: slide;
    }
    p {
        display: inline-block;
    }
}