@use "../abstracts/mixins";
@use "../abstracts/variables";

.tile {
    position: absolute;
    left: variables.$width-banner - variables.$border-banner;
    white-space: nowrap;
    border: 1px solid #ff0000;
    @include mixins.animation-slide(0px, calc(-#{variables.$width-banner} - 100%));
    animation: {
        duration: 5s;
        timing-function: linear;
        iteration-count: 1;
        play-state: paused;
        name: slide;
        fill-mode: forwards
    }
    p {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}