@mixin animation-slide($beginX, $endX) {
    $midX: calc(($beginX + $endX) / 2);
    @keyframes slide {
        25%, 40%, 60%, 75% {
            transform: 
                translateX($midX)
                translateY(-50%);
        }
        from {
            transform: 
                translateX($beginX)
                translateY(-50%);
        }
        50% {
            transform: 
                translateX($midX)
                translateY(-50%) 
                scale(1.25);
        }
        to {
            transform: 
                translateX($endX)
                translateY(-50%);
        }
    }
}