$border-banner: 3px;
$border-radius: 5px;
$font-size: 1.8rem;
$height-banner: 40px;
$margin-items: 5px;
$width-banner: 188px; // Check browser for actual width and set close to 100%
$width-widget: 288px;